.mainBox{
    box-sizing: border-box;

    margin: 200px auto;
    position: relative;
    width: 1728px;
    height: 1122px;

    background: rgba(208, 225, 184, 0.5);
    border: 1px solid #000000;
}
.top{
    box-sizing: border-box;

    position: absolute;
    width: 1728px;
    height: 119px;
    left: 0px;
    top: 0px;

    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #D9D9D9;
    border: 1px solid #EDEDF1;
}
.down{
    position: absolute;
    width: 1728px;
    height: 1003px;
    left: 0px;
    top: 119px;


}
.topPhoto{
    position: absolute;
    width: 88px;
    height: 113px;
    left: 0px;
    top: 0px;
    background: url(../images/logo.png);
    background-size: contain;
}
.top1{
    position: absolute;
    top: 30px;
    left: 67px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    text-align: center;
    width: 333px;
    height: 59px;

    background: #FFFFFF;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.top1Text{
    white-space: nowrap;
    top: 10px;
    left: 10px;
    width: 313px;
    height: 39px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.top2{
    position: absolute;
    top: 30px;
    left: 452px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    width: 148px;
    height: 59px;

    background: #FFFFFF;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.top2Text{
    white-space: nowrap;
    top: 10px;
    left: 10px;
    width: 128px;
    height: 39px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.top3{
    position: absolute;
    top: 30px;
    left: 624px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    width: 148px;
    height: 59px;

    background: #FFFFFF;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.top3Text{
    white-space: nowrap;
    top: 10px;
    left: 10px;
    width: 128px;
    height: 39px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.top4{
    position: absolute;
    top: 30px;
    left: 816px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    width: 148px;
    height: 59px;

    background: #FFFFFF;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.top4Text{
    white-space: nowrap;
    top: 10px;
    left: 10px;
    width: 128px;
    height: 39px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.top5{
    position: absolute;
    top: 30px;
    left: 998px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    width: 148px;
    height: 59px;

    background: #FFFFFF;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.top5Text{
    white-space: nowrap;
    top: 10px;
    left: 10px;
    width: 128px;
    height: 39px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.searchBox{
    position: absolute;
    top: 25px;
    left: 1349px;
    box-sizing: border-box;


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px 10px 10px;
    gap: 10px;

    position: absolute;
    width: 339px;
    height: 64px;
    left: 1349px;
    top: 25px;

    background: #FFFFFF;
    border: 1px solid #EDEDF1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.rdi{
    box-sizing: border-box;

    position: absolute;
    width: 30px;
    height: 30px;
    left: 19px;
    top: 13px;

    border: 1px solid #868C9F;
    border-radius: 50%;
}
.line{
    position: absolute;
    width: 0px;
    height: 22.27px;
    left: 56.05px;
    top: 28.83px;
    transform: rotate(120deg);
    text-align: center;
    border: 0.5px solid #868C9F;
}
.inputBox{
    position: absolute;
    top: 10px;
    left: 82px;
    outline: none;
    width: 72%;
    height: 44px;
    color: #868C9F;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    border: none;



    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
